@font-face {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    src: url('./../../fonts/DM Sans/dm-sans-v6-latin-regular.eot'); 
    src: local(''),
         url('./../../fonts/DM Sans/dm-sans-v6-latin-regular.eot?#iefix') format('embedded-opentype'), 
         url('./../../fonts/DM Sans/dm-sans-v6-latin-regular.woff2') format('woff2'), 
         url('./../../fonts/DM Sans/dm-sans-v6-latin-regular.woff') format('woff'),
         url('./../../fonts/DM Sans/dm-sans-v6-latin-regular.ttf') format('truetype'), 
         url('./../../fonts/DM Sans/dm-sans-v6-latin-regular.svg#DMSans') format('svg'); 
}
  
  