#letter-f {
    position: absolute;
    left: 0%;
    right: 87.64%;
    top: 1.82%;
    bottom: 21.61%;
}

#letter-i {
    position: absolute;
    left: 14.14%;
    right: 82.18%;
    top: 0%;
    bottom: 21.61%;
}

#letter-s {
    position: absolute;
    left: 19.86%;
    right: 67.72%;
    top: 21.88%;
    bottom: 20.83%;
}

#letter-h {
    position: absolute;
    left: 34.78%;
    right: 52.14%;
    top: 1.82%;
    bottom: 21.61%;
}

#letter-camera {
    position: absolute;
    left: 50.16%;
    right: 30.31%;
    top: 8.07%;
    bottom: 22.14%;
}

#letter-y {
    position: absolute;
    left: 71.53%;
    right: 14.33%;
    top: 22.14%;
    bottom: 0%;
}

#letter-e {
    position: absolute;
    left: 86.13%;
    right: 0%;
    top: 21.61%;
    bottom: 21.32%;
}